$screen-small: 480px; // small phones / older mobiles
$screen-medium: 990px; //tablets, small screens
$screen-medium-large: 1281px; // tablets landscape, small laptops
$screen-large: 1536px; //typical laptops
$screen-xl: 1920px; // Huge screen and above
